.background{
    background-image: url('./Images/CREATE.jpg');
    background-size: cover;
    align-items: center center;
    justify-content:space-between;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.titulo{
        color: DARKRED;
        display: FLEX;
        flex-direction: column;
        align-content: center;
        align-items: center;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.items{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    color: rgb(70, 42, 42);
    font-weight: bolder;
}

.formStyle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 .moodDiv{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
 }

 .moodDiv div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

 }

 .eraserbtn{
    align-items: center;
    background: red;
    color: white;
    border-radius: 0.3rem;
    cursor: pointer;
    height: 30px;
    width: 30px;
}

.numInput{
        padding: 5px;
            font-size: 25px;
            border-width: 2px;
            border-color: #ffe708;
            background-color: #f1eeee;
            color: #000000;
            border-style: outset;
            border-radius: 9px;
            box-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
            text-shadow: 0px 0px 5px rgba(66, 66, 66, .75);
}

.btnh2{
    font-size: 1.5rem;
    color: rgb(0, 255, 200);  
    font-family: fantasy;  
}

.btnh3{
    font-size: 2rem;
    color: rgb(255, 0, 200);
    font-family: fantasy;  
}


.errorStyle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.errorStyle > h1 {
    justify-self: flex-start ;
}
.btn{
    width: 9rem;
    margin: 1rem;
    margin-top: 0.5em;
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    }
    
.btn:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    }
    
.btn:active {
    transform: translateY(2px);
    transition-duration: .35s;
    }
    
.btn:hover {
      box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
    }