.form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchbar_container{
    height: 30px;
    width: 100%;

}

.searchbar{
    height: 100%;
    width: 47%;
    font-size: 1.3rem;
    border: 1px solid #25b687;
    border-top: none;
    outline: none;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.searchbar_button{
    border-radius: 0;
    height: 116%;
    width: 4rem;
    background-color: #25b687;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}